.main-content-grid {
  display: block;
  height: fit-content;
  position: relative;
  top: -40px;
  min-height: calc(100vh - 70px);
  background: rgb(0,0,0);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgba(11,43,61,1) 25%,
    rgba(0,0,0,1) 100%
  ); 
  
  h3 {
    color: rgb(249, 249, 249);
    text-align: left;
    padding: 20px;
    font-family: Haettenschweiler, 'Arial Narrow', sans-serif;
    padding-top: 50px;
    padding-left: 60px;
    font-size: 40px;
    padding-bottom: 10px;
  }

  .main-grid {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    column-gap: 30px;
    padding-top: 35px;
    padding-right: 10px;
    padding-right: 10px;
    
    .item {
      padding: 0;
      margin: 0;
      width: 340px;
      height: 250px;
      border-radius: 30px;
      cursor: pointer;
      
      img {
        width: 100%;
        height: 200px;
        border-radius: 30px;
      }

      h3 {
        padding: 0;
        margin-left: 20px;
        margin-top: 1px;
        font-family: sans-serif;
        font-size: 25px;
      }
    }
  }

  .hero-movie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 0;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    .vin {
      background-image: radial-gradient(farthest-side at 73% 21%, rgba(0, 0, 0, 0), rgb(24, 24, 24));
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  .front {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    opacity: 1;
    z-index: 10;
    color: #f9f9f9;
    text-align: left;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    
    .front-title {
      padding-top: 90%;
      .title {
        font-family: Haettenschweiler, 'Arial Narrow', sans-serif;
        font-size: 50px;
      }
  
      p {
        margin: 0;
        padding: 0;
        font-size: 40px;
        padding-left: 10px;
      }
    }
    

    .user-actions {
      width: 90%;

      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 30px;
        position: relative;
        top: 35%;
        left: 70px;

        border: none;
        background-color: transparent;
        width: 200px;
        height: 50px;
        font-family: Avenir-World-for-Disney-Demi,sans-serif;
        font-size: 25px;
        color: #cacaca;
        border-bottom: solid 1px rgb(99, 99, 99);

      }
      
      button:hover {
        border-bottom: solid 2px rgb(192, 192, 192);

      }
    }
  }
  
  .details {
    position: relative;
    width: 100%;
    height: 54vh;
    z-index: 55;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 30px;

    .detail-wrapper {
      width: 80%;
      height: 100%;

      display: grid;
      grid-template-columns: 40% 60%;
    }

    hr {
      border: none; 
      height: 3px; /* Set the hr color */
      color: rgb(180, 180, 180); /* old IE */
      background-color: rgb(192, 192, 192); /* Modern Browsers */
      z-index: 50;
      width: 85%;
    }

    .column1 {
      font-family: sans-serif;
      
      h3, p {
        color: #f9f9f9;
      }
      
      h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      p {
        font-family: sans-serif;
        text-align: justify;
      }
    }

    .Review{
      display: flex;
      padding: 100000px;
    }
    
    .info {
      display: flex;
      padding: 40px;

      .info-token {
        width: 250px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        margin-bottom: 20px;

        .actor {
          text-align: left;
          margin-bottom: 10px;

          ul {
            padding-left: 15px;
            list-style:square;
            color: #cacaca;
          }
        }
      }

      * {
        padding: 0;
        margin: 0;
      }

      h3 {
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: #cacaca;
      }

      p {
        color: white;
        text-align: left;
      }

    }
  }
}